/*
	Theme Name: twentytwenty-child
	Author: BDD
	Author URI: https://bolehdicoba.com/
	Version: 1.0
	Tags: company-profile, modero
	Text Domain: twentytwenty
	Template:  twentytwenty
*/
@font-face {
    font-family: Montserrat;
    src: url("/wp-content/themes/twentytwenty-child/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat_light;
    src: url("/wp-content/themes/twentytwenty-child/fonts/Montserrat-Light.ttf") format("truetype");
}

header, body, div, h1,h2,h3,h4,h5,
.widget_text p, .widget_text ol, 
.widget_text ul, .widget_text dl, 
.widget_text dt, .widget-content .rssSummary{
    font-family: "Montserrat" !important;
}

section.top-no-gap, .post-inner{
    padding-top: 0px;
    padding-bottom: 0px;
}

.list-carousel .content-carousel span{
    top: 40%;
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
    position: absolute;

}
.list-carousel .content-carousel .text-button{
    top: 50%;
    text-align: center;
    margin: auto;
    /* display: block; */
    width: 100px;
    right: 0;
    left: 0;
    position: absolute;
}
.content-carousel{
    position: relative;
}

.slick-nav .prev {
    position: absolute;
    top: 45%;
    left: 5vw;
    font-size: 5em;
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-weight: 300;
  }
  
.slick-nav .next {
    position: absolute;
    top: 45%;
    right: 5vw;
    font-size: 5em;
    cursor: pointer;
    padding-left: 25px;
    z-index: 1;
    color: #fff;
    font-weight: 300;
}

.slick-dots {
    bottom: 15px;
    position: absolute;
    margin: auto;
    /* display: block; */
    width: 600px;
    text-align: center;
    right: 0;
    left: 0;
}

.slick-dots li{
    display: inline;
    font-size: 0; 
}
li button:before,
li.slick-active button{
    color: transparent;
    opacity: 1;
}

.slick-dots li button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.slick-dots li.slick-active button {
    background-color: #fff;
}

body:not(.overlay-header) .primary-menu > li > a, 
body:not(.overlay-header) .primary-menu > li > .icon, 
.modal-menu a, .footer-menu a, .footer-widgets a, 
#site-footer .wp-block-button.is-style-outline, 
.wp-block-pullquote:before, .singular:not(.overlay-header) .entry-header a, 
.archive-header a, .header-footer-group .color-accent, 
.header-footer-group .color-accent-hover:hover{
    color: #000 !important;
}

.elementor-content-toggle-button-wrapper {
    text-align: center;
}

.elementor-content-toggle-button-btn {
    border-radius: 3px;
    background-color: #61ce70;
    color: #ffffff;
    display: inline-block;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    padding: 12px 24px;
}

.elementor-content-toggle-button-content-box {
    display: none;
    text-align: initial;
}

#services img{
    max-width: 200px;
    display: block;
    margin: auto;
}

.circlena{
    margin: auto;
    display: block; 
    height: 250px;
    max-width: 250px;
    background-color: transparent;
    border: 1px solid #bbb;
    position: relative;
    border-radius: 50%;
}
.circlena .arrowna{
    position: absolute;   
}

.circlena .arrowna:nth-child(1){
    top: -35px;
}

.circlena .arrowna:nth-child(2){
    right: 0px;
}

.circlena .arrowna:nth-child(3){
    bottom: -35px;
}

.circlena .arrowna:nth-child(4){
    left: 0px;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navigation-circle {
    display: block;
    position: relative;
    height: 320px;
    width: 320px;
    margin: auto;
  }
  .navigation-circle__inner {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .navigation-circle__list {
    display: block;
    position: absolute;
    height: 330px;
    width: 330px;
    transform: rotate(-90deg);
    animation: 2.2s cubic-bezier(0.25, -0.25, 0.35, 1) 0 1 animate-in-list forwards;
    margin: 15px -10px;
  }
  
  .navigation-circle-svg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotateZ(-90deg);
  }
  .navigation-circle-svg--opaque {
    opacity: 0.5;
  }
  .navigation-circle-svg--mask circle {
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    animation: 2.2s ease 0 1 animate-in-svg-circle-mask backwards;
  }
  
  .navigation-circle-list-item {
    display: block;
    position: absolute;
    height: 0;
    width: calc(50% + 5px);
    top: 50%;
    left: 50%;
    list-style: none;
    transform-origin: 0 0;
  }
  .navigation-circle-list-item__point {
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    top: -16px;
    right: 2px;
    cursor: pointer;
    transform: scale(0);
  }
  .navigation-circle-list-item__point:before {
    content: url(/wp-content/uploads/chev-mod.png);
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    transform: scale(0.75);
    transition: all 0.5s ease;
    transform: rotate(90deg);
  }

  .navigation-circle-list-item__point:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 0px;
    top: 18px;
    left: 31px;
    background-color: #fff;
    transition: all 0.5s ease;
  }
  .navigation-circle-list-item__meta {
    display: block;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transform-origin: center;
    margin-left: 78px;
    min-width: 68px;
    padding: 4px;
  }
  .navigation-circle-list-item__title {
    display: block;
    color: #f7f7f7;
    text-align: left;
    font-size: 10px;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 4px;
    margin-bottom: 6px;
  }
  .navigation-circle-list-item__subtitle {
    display: block;
    color: #f7f7f7;
    text-align: center;
    font-weight: 200;
    font-size: 8px;
  }
  
  .navigation-circle-list-item:nth-of-type(1) {
    transform: rotateZ(calc((360deg / 4) * 1));
  }
  
  .navigation-circle-list-item:nth-of-type(1) .navigation-circle-list-item__meta {
    transform: rotateZ(38.5714285714deg);
  }
  
  .navigation-circle-list-item:nth-of-type(1) .navigation-circle-list-item__point {
    animation: 1s cubic-bezier(0.55, -0.3, 0.6, 1.5) 0s 1 animate-in-list-item-point forwards;
  }
  
  .navigation-circle-list-item:nth-of-type(2) {
    transform: rotateZ(calc((360deg / 4) * 2));
  }
  
  .navigation-circle-list-item:nth-of-type(2) .navigation-circle-list-item__meta {
    transform: rotateZ(-12.8571428571deg);
  }
  
  .navigation-circle-list-item:nth-of-type(2) .navigation-circle-list-item__point {
    animation: 1s cubic-bezier(0.55, -0.3, 0.6, 1.5) 0.2s 1 animate-in-list-item-point forwards;
  }
  
  .navigation-circle-list-item:nth-of-type(3) {
    transform: rotateZ(calc((360deg / 4) * 3));
  }
  
  .navigation-circle-list-item:nth-of-type(3) .navigation-circle-list-item__meta {
    transform: rotateZ(-64.2857142857deg);
  }
  
  .navigation-circle-list-item:nth-of-type(3) .navigation-circle-list-item__point {
    animation: 1s cubic-bezier(0.55, -0.3, 0.6, 1.5) 0.4s 1 animate-in-list-item-point forwards;
  }
  
  .navigation-circle-list-item:nth-of-type(4) {
    transform: rotateZ(calc((360deg / 4) * 4));
  }
  
  .navigation-circle-list-item:nth-of-type(4) .navigation-circle-list-item__meta {
    transform: rotateZ(-115.7142857143deg);
  }
  
  .navigation-circle-list-item:nth-of-type(4) .navigation-circle-list-item__point {
    animation: 1s cubic-bezier(0.55, -0.3, 0.6, 1.5) 0.6s 1 animate-in-list-item-point forwards;
  }
    
  .navigation-circle-list-item:hover .navigation-circle-list-item__point:before {
    transform: scale(1);
    font-size: 16px;
  }
  
  .navigation-circle-list-item:hover .navigation-circle-list-item__point:after {
    width: 32px;
    left: 34px;
  }
  
  .navigation-circle-list-item:hover .navigation-circle-list-item__meta {
    opacity: 1;
  }
  
  .navigation-circle-list-item:active .navigation-circle-list-item__point:before,
  .navigation-circle-list-item.active .navigation-circle-list-item__point:before {
    transform: scale(0.85);
    color:#000;
    box-shadow: inset 0px 0px 0px 16px #fff;
    border-color: transparent;
  }
  
  .navigation-circle-list-item:active .navigation-circle-list-item__point:after,
  .navigation-circle-list-item.active .navigation-circle-list-item__point:after {
    width: 34px;
    left: 32px;
  }
  
  .navigation-circle-list-item:active .navigation-circle-list-item__meta,
  .navigation-circle-list-item.active .navigation-circle-list-item__meta {
    opacity: 1;
  }
  

.circle-svg{
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: block;
    position: relative;
}

.circle-svg svg,.inside-svg{
    max-width: 420px;
    margin: auto;
    display: block;
}

.inside-svg{
    position: absolute;
    top: 35%;
    text-align: center;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
}

.inside-svg img{
    margin: auto;
    max-width: 260px !important;
}
.circle-svg polygon,
.circle-svg .data-1,.circle-svg .data-2,
.circle-svg .data-3,.circle-svg .data-4,.circle-svg .data-5{
    cursor: pointer;
}

.circle-svg > div{
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
}
.data-1{
    position: absolute;
    margin: auto;
    display: block;
    width: 200px;
    right: -15px;
    top: 10%;
    text-align: right;
}

.data-2{
    position: absolute;
    width: 200px;
    right: -15%;
    bottom: 30%;
    text-align: center;
}

.data-3{
    position: absolute;
    text-align: center;
    margin: auto;
    text-align: center;
    display: block;
    width: 200px;
    right: 0%;
    left: 0%;
    bottom: -20px;
}

.data-4{
    position: absolute;
    text-align: center;
    width: 200px;
    left: -18%;
    bottom: 30%;
}

.data-5{
    position: absolute;
    margin: auto;
    display: block;
    width: 240px;
    left: -15px;
    top: 10%;
    text-align: left;
}

.detail-data{
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.detail-data > div{
    opacity: 0;
    visibility: hidden;
}

.detail-data > div > .title{
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: 800;
}

.detail-data > div > .desc{
    font-size: 1rem;
    font-weight: 800;
}
/* .circle-svg polygon:hover,
.circle-svg .data-1:hover{
    font-size:20px;
    transition:font-size .25s ease-in,line-height .25s ease-in,width .25s ease-in;
    animation: 1s cubic-bezier(0.55, -0.3, 0.6, 1.5) 0s 1 animate-in-list-item-point forwards;
} */

.social-icons a{
    background-color: #004d71 !important;
}

.footer-inner p{
    font-size: 13px;
    color: #fff;
}

.footer-top-visible .footer-nav-widgets-wrapper, .footer-top-hidden #site-footer{
    margin: 0;
    padding: 8rem 0 4rem 0;
    background-color: #40B4E5;
}

.footer-top-visible .alignnone, .aligncenter{
    margin: unset;
}

.footer-top-visible img.alignnone{
    max-width: 150px;
}

.hide{
    display: none;
}

/* .cls-1:hover { */
    /* calculate using: (2 * PI * R) */
    /* stroke-dasharray: 227;
    stroke-dashoffset: 0;
    animation-iteration-count: 1 ;
    animation-name: rotate;
    animation-duration: 1s;
    animation-direction: alternate; */
/* } */

.another-circle {
    stroke-dasharray: 960;
    stroke-dashoffset: 1080;
    transition: stroke-dashoffset 3s;
}
.another-circle:hover {
    stroke-dashoffset: 0;
}
.servisna-group-content-image{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.servisna-group-image{
    width: 100%;
}
.servisna-show-desktop{
    display: flex;
}
.servisna-show-mobile{
    display: none;
}

  
@media (min-width: 1220px){
    .primary-menu > li{
        margin: 1rem 0 0 10rem;
    }

    section.top-no-gap, .post-inner{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 750px){
    .slick-nav .prev {
        font-size: 2em;
      }
      
    .slick-nav .next {
        font-size: 2em;
    }
    .slick-dots {
        /* display: block; */
        width: 100%;
    }
    .servisna-group-content-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .servisna-group-image{
        width: 95%;
    }
    .servisna-show-desktop{
        display: none;
    }
    .servisna-show-mobile{
        display: flex;
    }
    .servisna-image-circle{
        width:45%;
    }
    .servisna-image-inner{
        width:100px;
    }
    .servisna-description-mobile{
        margin-top:200px; 
        padding-bottom:-50px;
    }
}


@keyframes rotate {
    to {
        stroke-dashoffset: 227;
    }
}

@keyframes animate-in-list {
    0% {
        transform: rotate(-540deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
@keyframes animate-in-svg-circle-mask {
    0% {
        stroke-dashoffset: 1005;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes animate-in-list-item-point {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-up-opacity {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    25% {
        transform: translateY(75%);
        opacity: .25;
    }
    50% {
        transform: translateY(50%);
        opacity: .50;
    }
    50% {
        transform: translateY(25%);
        opacity: .75;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}